.angeldots {
    grid-column: 1/-1;
    margin: 5px 0;
}

.angeldots button {
    border: none;
    background: none;
    height: 20px;
    vertical-align: bottom;
}

.angeldots img {
    height: 20px;
}

.angeldots-tag {
    padding: 2px 10px;
    margin: 0 3px;
    border-radius: 15px;
    min-width: 20px;
    min-height: 20px;
    color: #0f0f0f;
}

.angeldots-tag.lod {
    color: #f0f0f0;
}

.angeldots-tag.lod img {
    filter: invert(1);
}
